<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Casual - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/business-casual.min.css" rel="stylesheet">

  </head>
  <style>
  body{
    background-image: url('https://www.thoughtco.com/thmb/pkr30tzETK_9ovzXGyBXlNz9Ou4=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-172646826-57dd5dbc5f9b586516e37e4c.jpg');
    width:100%;
   background-size: cover;
  }
  @media only screen and (max-width: 600px) {
      body {
          background-size: auto;
      }
  }
  </style>

  <body>

    <h1 class="site-heading text-center bg-info text-white d-none d-lg-block">
      <span style="color:danger" class="site-heading-upper mb-3">Your style, your music</span>
      <span style="font-weight: bold;font-size: 60px; color:danger" class="site-heading-lower">My Vibes: A Musical Recommender</span>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item px-lg-4">
              <a style="color: white" class="nav-link text-uppercase text-expanded" href="index.html">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a style="color: white" class="nav-link text-uppercase text-expanded" href="about.html">About the recommender</a>
            </li>
            <li class="nav-item active px-lg-4">
              <a style="color: white" class="nav-link text-uppercase text-expanded" href="products.html">recommendations</a>
            </li>
            <li class="nav-item px-lg-4">
              <a style="color: white" class="nav-link text-uppercase text-expanded" href="store.html">About me</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="bg-success page-section cta">
      <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="static/img/brain_music.jpg" alt="" >
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-lower">About The Recommender</span>
                </h2>
                <p style="font-size: 15px" class="my_p">Advanced cognition in humans is an astounding evolutionary feat and its driving forces
                  continue to persist as a mystery. Despite our ignorance of the underlying mechanisms, the ability
                  to transform electrical (neural) signals into something with greater meaning is what makes our lives
                   so interesting, and of course, so unique. Enhancing these subjective cognitive experiences, in the
                   context of music, is the primary motivation for this project.</p>
                <p class="empty"> </p>
                <p style="font-size: 15px" class="my_p">For musical recommender systems, there are many ways to create a starting point. Favorite song,
                   favorite artist, era, existing playlists, etc. While this project does eventually utilize similar categorizers for filtering,
                   the basis of its recommendations are driven by connections to the deeper, more complex elements of music. This unique recommender
                   allows you to choose a cluster, or group “vibe”, from which new songs will be recommended. Choose a category below to get started!</p>
              </div>
              <div class="dropdown">
                <button class="btn bg-danger btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Choose a category to get started!
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="products.html">Modern</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <footer style="text-decoration-color: white" class="bg-info footer text-faded text-center py-5">
        <h2 style="color:white; font-size:50" class="site-heading-upper"> <b>Contact</b></h2>
        <p class="empty"> </p>
        <p class="empty"> </p>
        <h2 class="section-heading-middle mb-4">
        <div class="container">
          <img src="static/img/emaillogo.jpg" height="42" width="52">
          <a style="color:white" href="mailto:rdowd003@hotmail.com"><u> <font size="5"> Email </font> </u> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
          <img src="static/img/linkedin.jpg" height="42" width="52">
          <a style="color:white;" href="http://linkedin.com/in/rdowd003"><u><font size="5"> Linkedin </font> </u> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
          <img src="static/img/github.jpg" height="42" width="52">
          <a style="color:white" href="http://github.com/rdowd003"><u> <font size="5"> Github </font> </u></a>
        </div>
      </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
