<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Casual - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/business-casual.min.css" rel="stylesheet">

  </head>
  <style>
  .table {
  color:white;
  background-color: #3733FF;
  font-size: 16px;
  text-transform: capitalize;
  text-align: center;
  }
  .title {
  text-align: center;
  color:white;
  }
  .move-button {
    display: flex;
    justify-content: center;
    margin-top: .7vw;
  }


  body{
    background-image: url('https://www.thoughtco.com/thmb/pkr30tzETK_9ovzXGyBXlNz9Ou4=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-172646826-57dd5dbc5f9b586516e37e4c.jpg');
    width:100%;
   background-size: cover;
  }
  @media only screen and (max-width: 600px) {
      body {
          background-size: auto;
      }
  }
  </style>

  <body>

    <h1 class="site-heading text-center bg-info text-white d-none d-lg-block">
      <span style="color:danger" class="site-heading-upper mb-3">Your style, your music</span>
      <span style="font-weight: bold;font-size: 60px; color:danger" class="site-heading-lower">My Vibes: A Musical Recommender</span>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item px-lg-4">
              <a style="color: white" class="nav-link text-uppercase text-expanded" href="index.html">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a style="color: white" class="nav-link text-uppercase text-expanded" href="about.html">About the recommender</a>
            </li>
            <li class="nav-item active px-lg-4">
              <a style="color: white" class="nav-link text-uppercase text-expanded" href="products.html">recommendations</a>
            </li>
            <li class="nav-item px-lg-4">
              <a style="color: white" class="nav-link text-uppercase text-expanded" href="store.html">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-success p-5 d-flex w-100 rounded">
              <h2 class="section-heading mb-0">
                <span style="font-size: 30px" align="center" class="section-heading-upper">Step 1:</span>
                <span style="font-size: 40px" align="center" class="section-heading-lower">Experience the clusters</span>
                <p style="font-size: 15px" class="my_p"> First, click each of the links below, one at a time, and preview all of the the songs.
                  Listen closely, not for your favorite artist, or your favorite song, but for a style, rhythm and sense of musicality that you feel a strong connection with.
                  Either click links to listen, and hit back-page button to continue, or open each link in new web page to listen.
                  Then proceed to the section below to make your choices. </p>
            <table class="table">
              <thead>
                <th>Cluster Number</th>
                <th>Song Name</th>
                <th>Artist</th>
                <th>Preview URL</th>
                <th>Track ID</th>

              </thead>
              <tbody>
                <!-- Here is where the data passed into the template gets inserted -->
                {% for row_index in range(data['Track_id']|count) %}
                    <tr>
                      <td>{{ data['cluster_labels'][row_index]|tojson|safe }}</td>
                      <td>{{ data['titles'][row_index] }}</td>
                      <td>{{ data['artists_list'][row_index] }}</td>
                      <td><a style="color: white;" href={{ data['previews'][row_index] }}>click here to preview</a></td>
                      <td>{{ data['Track_id'][row_index] }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
              </h2>
            </div>
          </div>
          <div align="center" class="product-item-description d-flex mr-auto">
          </div>
        </div>
      </div>
    </section>


    <section class="page-section about-heading">
      <div class="container">
        <img class="rounded mx-auto d-block" alt="..." src="static/img/brain_waves.jpg">
        <a name="target1"></a>
        <div class="about-heading-content text-center">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-success rounded p-5">
                <h2 class="section-heading mb-4">
                  <span style="font-size:30px" class="section-heading-middle">Step 2:</span>
                  <span style="font-size:40px" class="section-heading-lower"> Choose Your preferences</span>
                  <p style="font-size: 15px" class="my_p">Select the cluster and some recommendation preferences below to receive new song recommendations </p>
                </h2>
                <p class="empty"> </p>
                <form action='/recommendations', method='POST'>
                  <div><h4><b>Select a cluster:</b></h4></div>
                  <select name="cluster" class="selectpicker form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                  <p class="empty"> </p>
                  <p class="empty"> </p>
                  <div><h4><b>Select an audio feature to prioritize:</b></h4></div>
                  <select name="feature" class="selectpicker form-control">
                    <option value="acousticness">Acoustiness</option>
                    <option value="danceability">Danceability</option>
                    <option value="energy">Energy</option>
                    <option value="instrumentalness">Instrumentalness</option>
                    <option value="liveness">Liveness</option>
                    <option value="loudness">Loudness</option>
                    <option value="mode">Mode (major/minor)</option>
                    <option value="speechiness">Speechiness</option>
                    <option value="tempo">Tempo</option>
                    <option value="valence">Valence (positivity)</option>
                  </select>
                  <p class="empty"> </p>
                  <div><h4><b>High or Low for the selected priority:</b></h4></div>
                  <select name="popular" class="selectpicker form-control">
                    <option value="high">High</option>
                    <option value="low">Low</option>
                  </select>
                  <p class="empty"> </p>
                  <div><h4><b>Select your song-recommendation popularity preference:</b></h4></div>
                  <select name="level" class="selectpicker form-control">
                    <option value="high">Most popular</option>
                    <option value="low">Least popular</option>
                    <option value="low">Random</option>
                  </select>
                  <div class='move-button'>
                    <button type="submit">Recommend</button>
                  </div>
                </form>
                <p class="empty"> </p>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>




    <footer style="text-decoration-color: white" class="bg-info footer text-faded text-center py-5">
      <h2 style="color:white; font-size:50" class="site-heading-upper"> <b>Contact</b></h2>
      <p class="empty"> </p>
      <p class="empty"> </p>
      <h2 class="section-heading-middle mb-4">
      <div class="container">
        <img src="static/img/emaillogo.jpg" height="42" width="52">
        <a style="color:white" href="mailto:rdowd003@hotmail.com"><u> <font size="5"> Email </font> </u> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
        <img src="static/img/linkedin.jpg" height="42" width="52">
        <a style="color:white;" href="http://linkedin.com/in/rdowd003"><u><font size="5"> Linkedin </font> </u> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
        <img src="static/img/github.jpg" height="42" width="52">
        <a style="color:white" href="http://github.com/rdowd003"><u> <font size="5"> Github </font> </u></a>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
