<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Casual - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/business-casual.min.css" rel="stylesheet">

  </head>
  <style>
  .table {
  color:white;
  background-color: #3733FF;
  font-size: 13px;
  }
  .title {
  text-align: center;
  color:white;
  }
  .move-button {
    display: flex;
    justify-content: center;
    margin-top: .7vw;
  }

  body{
    background-image: url('https://www.thoughtco.com/thmb/pkr30tzETK_9ovzXGyBXlNz9Ou4=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-172646826-57dd5dbc5f9b586516e37e4c.jpg');
    width:100%;
   background-size: cover;
  }
  @media only screen and (max-width: 600px) {
      body {
          background-size: auto;
      }
  }
  </style>

  <body>

    <h1 class="site-heading text-center bg-info text-white d-none d-lg-block">
      <span style="color:danger" class="site-heading-upper mb-3">Your style, your music</span>
      <span style="font-weight: bold;font-size: 60px; color:danger" class="site-heading-lower">My Vibes: A Musical Recommender</span>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item px-lg-4">
              <a style="color: white" class="nav-link text-uppercase text-expanded" href="index.html">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a style="color: white" class="nav-link text-uppercase text-expanded" href="about.html">About the recommender</a>
            </li>
            <li class="nav-item active px-lg-4">
              <a style="color: white" class="nav-link text-uppercase text-expanded" href="products.html">recommendations</a>
            </li>
            <li class="nav-item px-lg-4">
              <a style="color: white" class="nav-link text-uppercase text-expanded" href="store.html">About me</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <table style="color:white" class="table">
      <thead>
        <th>Song Name</th>
        <th>Album</th>
        <th>Artist</th>
        <th>Preview URL</th>
        <th>Spotify</th>

      </thead>
      <tbody>
        <!-- Here is where the data passed into the template gets inserted -->
        {% for row_index in range(data['Song_name']|count) %}
            <tr>
              <td>{{ data['Song_name'][row_index]|tojson|safe }}</td>
              <td>{{ data['Album'][row_index] }}</td>
              <td>{{ data['Artists'][row_index] }}</td>
              <td><a href={{ data['Preview_link'][row_index] }}>{{ data['Preview_link'][row_index] }}</a></td>
              <td><a href={{'https://open.spotify.com/search/recent' }}>{{ "Click to search spotify" }}</a></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>

    <footer style="text-decoration-color: white" class="bg-info footer text-faded text-center py-5">
      <div class="container">
        <p style="color: white"class="m-0 small">Robert Dowd, 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
