<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Casual - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/business-casual.min.css" rel="stylesheet">

  </head>
  <style>

  .move-button {
    display: flex;
    justify-content: center;
    margin-top: .7vw;
  }

  body{
    background-image: url('https://www.thoughtco.com/thmb/pkr30tzETK_9ovzXGyBXlNz9Ou4=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-172646826-57dd5dbc5f9b586516e37e4c.jpg');
    width:100%;
   background-size: cover;
  }
  @media only screen and (max-width: 600px) {
      body {
          background-size: auto;
      }

  .container1{
    margin-left: 100px

  }
  }
  </style>

  <body>

    <h1 class="site-heading text-center bg-info text-white d-none d-lg-block">
      <span style="color:danger" class="site-heading-upper mb-3">Your style, your music</span>
      <span style="font-weight: bold;font-size: 60px; color:danger" class="site-heading-lower">My Vibes: A Musical Recommender</span>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item px-lg-4">
              <a style="color: white" class="nav-link text-uppercase text-expanded" href="index.html">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a style="color: white" class="nav-link text-uppercase text-expanded" href="about.html">About the recommender</a>
            </li>
            <li class="nav-item active px-lg-4">
              <a style="color: white" class="nav-link text-uppercase text-expanded" href="products.html">recommendations</a>
            </li>
            <li class="nav-item px-lg-4">
              <a style="color: white" class="nav-link text-uppercase text-expanded" href="store.html">About me</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="bg-success page-section cta">
      <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="static/img/RD1.jpg" alt="">
        <div class="row">
            <div class="cta-inner text-center rounded">
              <h1 style="font-size:80">Robert Dowd</h1>
              <h4 style="font-size:30">Data Scientist</h4>
              <h4 style="font-size:30">Denver, CO</h4>
              <p class="empty"></p>
              <p class="empty"> Portfolio </p>
              <p class="empty"></p>
              <a style="color:blue" href="http://github.com/rdowd003/capstone1"><u> <font size="5"> Predicting UPDRS Scores In Patients With Early Onset Parksinson's Disease </font> </u> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
              <p class="empty"></p>
              <a style="color:blue;" href="https://iovs.arvojournals.org/article.aspx?articleid=2561964&resultClick=1"><u><font size="5"> Exploring Keratoconus And Its Effects On Binocular Vision (ARVO 2016)  </font> </u> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
              <p class="empty"></p>
              <a style="color:blue;" href="https://dochub.com/rdowdeb095abd/aYZlaX/robert-dowd-senior-honors-thesis"><u><font size="5"> A	Computational	Model	of the Mammalian Midbrain: Simulating Neural Responses to Amplitude Modulation (Senior Honors Thesis)
              </font> </u></a>
            </div>
        </div>
      </div>
    </section>

    <footer style="text-decoration-color: white" class="bg-info footer text-faded text-center py-5">
      <h2 style="color:white; font-size:50" class="site-heading-upper"> <b>Contact</b></h2>
      <p class="empty"> </p>
      <p class="empty"> </p>
      <h2 class="section-heading-middle mb-4">
      <div class="container">
        <img src="static/img/emaillogo.jpg" height="42" width="52">
        <a style="color:white" href="mailto:rdowd003@hotmail.com"><u> <font size="5"> Email </font> </u> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
        <img src="static/img/linkedin.jpg" height="42" width="52">
        <a style="color:white;" href="http://linkedin.com/in/rdowd003"><u><font size="5"> Linkedin </font> </u> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
        <img src="static/img/github.jpg" height="42" width="52">
        <a style="color:white" href="http://github.com/rdowd003"><u> <font size="5"> Github </font> </u></a>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

  <!-- Script to highlight the active date in the hours list -->
  <script>
    $('.list-hours li').eq(new Date().getDay()).addClass('today');
  </script>

</html>
